.about-container{
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.about-img{
    width:230px;
    margin-bottom:20px;
}
.description{
    color: #555555;
    font-family:"Roboto";
    font-size:20px;
    font-weight:700;
}
.about-heading{

    color:#6d396b;
    font-family:"Roboto";
    font-size:32px;
    font-weight:800;

}